* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
}

header {
    display: flex;
    padding: 30px 300px;
    background-color: #429445;
    justify-content: space-between;
    color: white;
}

#search-input {
    height: 4vh;
    width: 30vw;
}

form {
    padding: 30px 300px;
}

.user-input {
    display: flex;
}

.output-content {
    padding: 30px 300px;
}

.output-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 15px;
}

.enter-item {
    height: 5vh;
    width: 15vw;
}

.submit {
    width: 5vw;
    background-color: black;
    color: white;
    font-size: 1rem;
    margin: 0 10px;
}

button {
    padding: 10px 15px;
    background-color: red;
    color: white;
    text-decoration: none;
    border: none;
}

#btn-1 {
    padding: 10px 15px;
    background-color: rgb(63, 110, 211);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    align-items: center;
    margin: 10px auto;
}

.output-item {
    display: flex;
    flex-direction: column;
}

.item-list {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid gray; */
    margin: 20px;
    padding: 10px 50px;
    background-color: rgb(231, 226, 151);
}

.btn-1 {
    display: block;
    margin: 10px auto;
}

table {
    margin: 50px auto;
    width: 75%;
    border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    padding: 16px;
}